{{ define "main" }}
<article>
  <h1>Last Articles:</h1>
  <hr style="width: 100%" />
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item">
      <a class="posts-list-item-title" href="{{ .Permalink }}">
        {{ .Title }}
      </a>

      <p class="posts-list-item-shortdesc">{{ .Params.shortdesc }}</p>

      <span class="posts-list-item-metadata">
        {{ partial "icon_blog.html" (dict "ctx" $ "name" "calendar") }}
        <span class="metadata-item">
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </span>
        <span class="posts-list-item-separator">•</span>
        {{ partial "icon_blog.html" (dict "ctx" $ "name" "clock") }}
        <span class="metadata-item">{{ .ReadingTime }} min read</span>
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</article>
{{ end }}
