@keyframes planeMoveTop {
  from {
    background-position: 0px -100px, 0px 0px;
  }

  to {
    background-position: 0px 0px, 100px 0px;
  }
}

@keyframes planeMoveBot {
  from {
    background-position: 0px 0px, 0px 0px;
  }

  to {
    background-position: 0px -100px, 100px 0px;
  }
}

.top-plane,
.bottom-plane {
  width: 200%;
  height: 130%;
  position: absolute;
  bottom: -30%;
  left: -50%;
  background-image: -webkit-linear-gradient(#ebeeff 2px, transparent 2px), -webkit-linear-gradient(left, #ebeeff 2px, transparent 2px);
  background-size: 100px 100px, 100px 100px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(90deg);
  animation: planeMoveTop 3s infinite linear;
}

.bottom-plane {
  transform: rotateX(-90deg);
  top: -30%;
  animation: planeMoveBot 10s infinite linear;
}
