html {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  height: 100%;
  background: linear-gradient(
    #8321d5 25%,
    #02092f 50%,
    #02092f 50%,
    #8321d5 100%
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansation", sans-serif;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  perspective: 360px;
  perspective-origin: 50% 50%;
}

.footer-text {
  color: white;
  font-size: 0.9em;
}

footer {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media (max-height: 350px) {
  .wrap {
    perspective: 210px;
  }
}
