html {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  position: relative;
  height: 100%;
  background: linear-gradient(
    #8321d5 25%,
    #02092f 50%,
    #02092f 50%,
    #8321d5 100%
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
:root {
  --cube-width: 28em;
  --cube-height: 38em;
  --cube-depth: 28em;
  --cube-trans-z: calc(var(--cube-depth) / 2);
  --cube-trans-y: calc(var(--cube-height) / 2);
}
@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  perspective: 2500px;
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  perspective: 1000px;
  overflow: hidden;
  z-index: 0;
}

.footer-text {
  color: white;
  font-size: 0.9em;
}

footer {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media (max-height: 350px) {
  .wrap {
    perspective: 210px;
  }
}
