html {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  position: relative;
  height: 100%;
  background-color: var(--bg-center);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
:root {
  --cube-width: 28em;
  --cube-height: 38em;
  --cube-depth: 28em;
  --cube-trans-z: calc(var(--cube-depth) / 2);
  --cube-trans-y: calc(var(--cube-height) / 2);
  --primary-gradient: linear-gradient(135deg, #cea79b 0%, #910007 100%);
  --accent-gradient: linear-gradient(135deg, #910007 0%, #7e3cce 100%);

  --bg-top: #240046;
  --bg-mid: #7b2cbf;
  --bg-center: #050011;
  --bg-bottom: #6610f2;
  --grid-line: rgba(255, 255, 255, 0.5);

  --grid-size: 80px;

  --speed: 10s;

  --mountain-light: #5e1799;
  --mountain-dark: #240046;
  --mountain-back-light: #3c096c;
  --mountain-back-dark: #10002b;
}
@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  perspective: 2500px;
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  perspective: 1000px;
  overflow: hidden;
  z-index: 0;
}

.footer-text {
  color: white;
  font-size: 0.9em;
}

footer {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media (max-height: 350px) {
  .wrap {
    perspective: 210px;
  }
}
